html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
}

.carrousel .flickity-viewport {
  overflow: visible;
}

.btn,
.btn-form {
  background: linear-gradient(275.83deg, #9757FF -22.92%, #3300FF 92.78%);
  color: white;
  padding: 8px 30px;
  border-radius: 45px;
  font-weight: 600;
  margin-right: 160px;
}

.btn-second {
  margin-top: 50px;
  background: linear-gradient(275.83deg, #9757FF -22.92%, #3300FF 92.78%);
  color: white;
  padding: 8px 30px;
  border-radius: 45px;
  font-weight: 600;
  border: none;
}

.brand-title a img {
  margin-left: 160px;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  font-weight: 600;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 1rem;
  display: block;
}

.toggle-button {
  position: absolute;
  top: .60rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: auto;
}

.navbar-links li:hover {
  text-decoration: underline;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-size: 18px;
  font-weight: 700;

}

.navbar-dark .navbar-nav .nav-link:hover {
  text-decoration: underline;
  color: white;

}

.navbar-brand {
  margin-left: 120px;
}

.info-left h1 {
  color: white;
  font-weight: 800;
  font-size: 45px;
}

.img-right img {
  border-radius: 15px 0px 0px 15px;
  position: absolute;
  margin-top: -30px;
  right: 0;

}

.content-sub h2 {
  margin-top: 50px;
  color: #E3E3E3;
  font-size: 46px;
}

.content h4 {
  color: #E3E3E3;
  font-weight: 700;
}

.container {
  margin-top: 40px;
}

.arrow-img {
  width: 28.53px;
  height: 213px;
  position: absolute;
  margin-top: 15px;
  margin-left: -70px;
}

#section2 {
  margin-top: 120px;
}

#section2 .content-sub-2,
.content-subscription {
  color: #E3E3E3;
  margin-left: 150px;
  margin-bottom: 29px;
}

#section2 .content-sub-2 h1 {
  font-size: 38px;
}


#section2 .container .space-icon {
  margin-left: 150px;
}

.card {
  background: linear-gradient(105.38deg, #232323 -3.41%, rgba(35, 35, 35, 0) 86.72%);
  border-radius: 16px;
  border: none;
  font-size: 22px;
  font-weight: 600;
  color: white;
  margin-bottom: 120px;
}


.card img {
  width: 570px;
  height: auto;

}

.card .card-title {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 30px;
  background-color: #000000;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  text-align: center;
  padding-top: 16px;

}

.card .card-body {
  padding: 45px;
}



.sec-card {
  margin-left: -53px;
}


.superior {
  position: absolute;
  right: -74px;
  bottom: -14px;
}

.animation-right .superior {
  width: 160px;
  height: auto;
}

.animation-left .inferior {
  width: 160px;
  height: auto;
}

.inferior {
  position: absolute;
  left: -66px;
  bottom: -50px;
  z-index: -1;
}

.content-sub-3 {
  color: #E3E3E3;
  font-size: 35px;
  margin-left: 140px;
  font-weight: 600;

}

.content-sub-4 {
  color: #E3E3E3;
  font-size: 35px;
  margin-left: 250px;
  font-weight: 600;
  margin-top: 120px;
}

.carousel h1 {
  color: #E3E3E3;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 70px;
  margin-top: 133px;
}



.submit-button button{
  display: none;
}
 .program h6 {
  color: #E3E3E3;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 70px;
  margin-top: 133px;
}

.rectangle img {
  position: absolute;
  width: 160px;
  margin-top: -230px;
  margin-left: 179px;
}

.box-info {
  background-color: #232323;
  font-size: 20px;
  display: flex;
  border-radius: 15px;
  color: #E3E3E3;
  margin-top: 12px;
  padding: 13px;
  align-items: center;
}

.btn-spacement {
  margin-left: 140px;
  margin-top: 60px;
  margin-bottom: 120px;
}

.information h1 {
  color: white;
  font-size: 35px;
  margin-bottom: 40px;
}

.information button {
  margin-top: 24px;
}

.btn-spacement-all {
  margin-left: 270px;
  margin-top: 60px;
  margin-bottom: 120px;
}

.box-info p {
  margin-left: 25px;
  margin-top: 12px;
}

.box-info img {
  width: 37px;
  height: 37px;
}

.carousel-cell {
  width: 440px;
  height: 840px;
  margin-right: 10px;
  background: #232323;
  border-radius: 20px;
}

.carousel-cell img {
  border-radius: 20px;
  width: 440px;
  height: 525px;
  object-fit: cover;
}

.carousel-cell h4 {
  color: white;
  text-align: center;
  font-size: 21px;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.carousel-cell a {
  text-decoration: none;
  color: white;
  transition: 0.2s;
}

.carousel-cell a:hover {
  color: #aea3a3;
}


.carousel-cell p {
  color: rgb(198, 194, 194);
  text-align: center;
  padding: 20px;
  margin-top: -40px;
  font-size: 14px;
  text-align: start;
  font-weight: 500;

}



.program h1 {
  color: white;
  margin-bottom: 40px;
}

.avatar h2 {
  font-size: 16px;
  color: white;
  position: absolute;
  margin-left: 70px;
  margin-top: -25px;
}


.accordion__button {
  display: block;
  padding: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #232323;
  color: white;
  text-align: left;
  border-radius: 14px;
  transition: background 0.2s;
}

.accordion__button::after {
  content: '\25be';
  float: right;
  transform: scale(1.5);
}

.accordion__button--active {
  background: #232323;
}

.accordion__button--active::after {
  content: '\25b4';
}

.accordion__content {
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.2s;
  margin-top: -22px;
  background: #232323;
  border-radius: 14px;
  margin-bottom: -22px;
  padding-top: 15px;
  color: white;
}

.questionnaire h1 {
  color: white;
  font-size: 35px;
}

.last {
  margin: 120px 0px 120px 0px;
}

.last button {
  margin-top: 36px;
}


footer {
  border-top: 1px solid #232323;
  padding: 70px 0;
  width: 100%;
  justify-content: space-around;
  display: flex;
  align-items: center;

}

footer h1 {
  color: white;
  font-weight: 800;
  font-size: 23.45px;
}

footer img {
  width: 230px;
}


footer .footer-links .footer {
  list-style: none;
  display: flex;
  text-decoration: none;
  font-size: 14px;
 
}



footer .footer-links ul li {
  padding-left: 12px;
}

footer .footer-links .footer-link {
  text-decoration: none;
  color: #FFFFFF;
}

footer .image-footer{
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
 
}
footer .image-footer img{
  width: 250px;
 
}

.btn-close {
  background-color: white;
  border-radius: 50%;
}

.modal {
  background-color: #000000;
  justify-content: center;
  align-items: center;

}

.modal-header,
.modal-body,
.modal-footer,
.modal-content {
  background-color: #232323;
  color: white;
  border: none;
  border-radius: 30px;
}

.modal-header p {
  font-weight: 800;
  font-size: 35px;
  margin-left: 40px;
  margin-bottom: -31px;
}

.modal-body p {
  font-weight: 770;
  font-size: 20px;
  color: rgb(124, 115, 115);
  margin-left: 40px;
  margin-bottom: -20px;
}

.modal-content {
  width: 640px;
  justify-content: center;
}


.modal-footer {
  padding-right: 60px;
  text-align: center;
  margin-top: -70px;
}

.first-part {
  margin: 120px 0px;
}

.modules .title {
  color: white;
  font-size: 35px;
  margin-bottom: 160px;
  margin-top: 120px;
}


.modules .col-md-8 {
  background-color: #363636;
  border-radius: 18px 0px 0px 18px;
}

.modules .col-md-4 {
  background-color: #232323;
  border-radius: 0px 18px 18px 0px;
  padding-left: 34px;

}

.modules .info-teacher {
  align-items: center;
}

.modules .col-md-4 .info-teacher .img-left {
  margin-right: 12px;
}

.modules .col-md-4 .info-right h2 {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 100;
}

.modules .col-md-4 .info-right h3 {
  font-size: 16px;
}

.modules img {
  width: 63px;
  height: 62px;
  margin-bottom: 12px;
}

.modules .col-md-4 h1 {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 100;
  margin: 34px 0px;
}

.modules .row {
  margin-top: -50px;
}

.first-part .title {
  color: white;
  font-size: 35px;
  margin-bottom: 24px;
}

.first-part p,
span a {
  font-size: 20px;
  color: white;
  font-weight: 600;
  margin-bottom: 24px;
}

.logos img {
  width: 339.47px;
  height: auto;
  position: absolute;
}

.rectangle img {
  width: 140px;
  height: auto;
  position: absolute;

}

.logo-mobile {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}


.hide-desktop{
  display: none;
}


@media screen and (max-width: 600px) {
  .container {
    overflow: hidden;
  }

  .btn-second {
    display: none;
  }

  .img-right img {
    width: 365px;
    position: absolute;
    margin-top: 320px;
    right: 0;
    float: right;
  }


  .content-sub h2 {
    font-size: 25px;
    position: absolute;
    text-align: start;
    margin-top: 70px;
  }

  .info-left h4 {
    font-size: 25px;
    display: flex;
    position: absolute;
  }

  .content-sub p {
    margin-top: 120px;
  }


  .first-section h4 {
    color: #4d4d4d;
  }

  .first-part p,
  span a {
    font-size: 19px;
    text-align: left;
  }

  .card-body button {
    padding: 12px 90px;
    text-align: center;
    font-size: 17px;
    margin: 0 auto;
    position: absolute;

  }

  .img-right img {
    width: 365px;
    position: absolute;
    margin-right: 0;
    right: 0%;
    float: right;
  }

  #section2 .content-subscription {
    font-size: 15px;
    text-align: left;
    padding: 10px;
    margin-left: 10px;
    left: 0;
    margin-top: 620px;
    max-width: 97%;
    font-weight: 600;
  }

  .logo-mobile {
    display: flex;
    margin-bottom: 30px;

  }

  #section2 .container .space-icon {
    margin-top: 240px;
    justify-content: center;
    align-items: center;
    display: block;
    padding: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -310px;
  }


  .first-section .container {
    padding-bottom: 250px;
  }

  .program .container {
    padding: 10px;
  }

  .container p {
    font-size: 16px;
  }

  .container h6 {
    font-size: 25px;
    display: block;
    margin-top: -10px;
    color: white;
}

.information h1 {
  font-size: 25px;
}

  .modules .col-md-8 {
    border-radius: 20px 20px 0px 0px;
  }

  .modules .col-md-4 {
    border-radius: 0px 0px 20px 20px;
  }

  .modules .container {
    padding: 25px;
  }

  
.carousel h1 {
    color: #E3E3E3;
    font-size: 25px;
    font-weight: 600;
    margin-top:50px;
}

  .modules button {
    padding: 12px 90px;
    text-align: center;
    font-size: 17px;
    margin: 0 auto;
    display: block;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
  }

  .navbar {
    background-color: #141414;
    position: fixed;
    width: 100%;
    z-index: 1;
    bottom: 0;
    padding: 30px;
  }

  .navbar-links ul {
    flex-direction: column;
    padding-left: 20px;
  }

  .navbar button {
    display: none;
  }

  .navbar-links li a {
    padding: 2rem 4rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }

  .navbar-links li a:hover{
    text-decoration: underline;
  }
  .navbar.active {
    height: 100vh;
  }

  .active .navbar-links{
    display: flex;
  }



  .first-section .logo-mobile img {
    width: 300px;
    height: auto;
  }


  .mainly-icon .player img {
    position: absolute;
    top: 0px;
    margin-top: 620px;
    width: 170px;
    margin-left: -29px;
  }

  .mainly-icon .rectangle img {
    position: absolute;
    top: 0px;
    margin-top: 650px;
    width: 90px;
    margin-left: -20px;
    margin-left: 74px;
  }

  .brand-title {
    display: none;
  }

  .first-part .title {
    color: white;
    font-size: 25px;
    margin-bottom: 24px;
    margin-top: 40px;
  }



  footer .hide-desktop {
    display: block;
    position: absolute;
    width: 190px;
    margin-top: -65px;
    margin-left: -50px;
  }
 
  footer .footer-links img{
    display: none;
  }

  .modules .title, .questionnaire h1  {
    font-size: 25px;
    margin-top: 0px;
}

.container p {
  font-size: 15px;
}
.box-info p {
  margin-left: 13px;
  margin-top: 12px;
}
.box-info {
  padding: 3px;
  
}

.btn-second {
  display: block;
  padding: 12px 90px;
  text-align: center;
  font-size: 17px;
  margin: 0 auto;
}

.hide-mobile{
  display: none;
}

.last button {
  position: absolute;
}

.submit-button button{
  margin-top: -90px;
  position: absolute;
  display: block;
  text-align: center;
  font-size: 17px;
}

footer .footer-links .footer {
  font-size: 16px;
  flex-wrap: wrap;
  gap: 12px;
}

.card-body{
  padding: 0;
}
.modules .title {
  margin-left: -12px;
}
}